.Container {
    margin: 5px 0px;
    grid-template-columns: auto auto auto auto;
    display: grid;
    position: relative;
    padding: 15px;
    cursor: default;
    touch-action: none;
    background: rgb(50, 168, 82);
    border-radius: 12px;
    
}


.main-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Container-Sub {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(61, 41, 99);
}
.head{
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 500px){
    .head{
        margin-top: 60px;
    }
}
